*.o
*.gz 
*.html 
lib/*.a 
include/entropy_ann_legacy.h 
old-tmp/* 
old/* 
src/ann_1.1.2/* 
src/cwt/* 
src/rwt/* 
src/old-files 
src/entropy_ann_legacy.c 
Makefile 
src/mask_old.c 
config.log 
config.status 
src/cython/build/* 
src/cython/dist/* s
src/cython/doc/* 
src/cython/entropy.egg-info/* 
src/cython/tests/* 
src/cython/tools.old/* 
autom4te.cache/ 
bin/matlab-old/ 
.DS_Store 
bin/python/.DS_Store 
bin/python/.ipynb_checkpoints/ 
bin/python/old/ 
bin/python/test-DI-2020-03-08.ipynb 
bin/python/test-MI-2020-03-07.ipynb 
bin/python/test-MI.ipynb 
bin/python/test-MI.py 
bin/python/test-TE-2020-03-07.ipynb 
bin/python/test-code-suite-2020-02-27.ipynb 
bin/python/test-images-2d-2020-07-20.ipynb 
bin/python/test-masks-2020-03-02.ipynb 
bin/python/test-masks-2023-11-28.ipynb 
bin/python/test-tmp-2022-04-20.ipynb 
bin/python/test_embed.py
config.h 
config.h.in~ 
configure~ 
include/.DS_Store 
include/ANN/ANN.h 
src/.DS_Store 
src/cython/.DS_Store 
src/cython/dist/ 
src/cython/entropy/.DS_Store 
src/cython/entropy/__pycache__/ 
src/cython/entropy/build/ 
src/cython/entropy/entropy.c 
src/cython/entropy/tools.c
src/cython/entropy/entropy.pxd_old 
src/cython/entropy/entropy_ann.pyx_old 
src/matlab/.DS_Store 
test_over_scales.py
bin/run.exe

entropy.dev..code-workspace
