*.o
*.gz 
*.html 
autom4te.cache/ 
include/math_tools.h 
include/nn_stats.h
lib/*.a  
#src/ann_1.1.2/* 
Makefile 
src/mask_old.c 
config.log 
config.status 
src/cython/build/* 
src/cython/dist/* s
src/cython/doc/* 
src/cython/entropy.egg-info/* 
src/cython/tests/* 
src/cython/tools.old/* 

.DS_Store 
config.h 
config.h.in~ 
configure~ 
include/.DS_Store 
include/ANN/ANN.h 
src/.DS_Store 
src/cython/.DS_Store 
src/cython/build/ 
src/cython/dist/ 
src/cython/doc/ 
src/cython/nn_stats/.DS_Store 
src/cython/nn_stats/__pycache__/ 
src/cython/nn_stats/build/ 
src/cython/nn_stats/a__init__.py
src/cython/nn_stats/nn_statistics.c 
src/nn_stats.c
.gitignore
entropy.dev..code-workspace
